* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: sans-serif; -webkit-tap-highlight-color: transparent; }

.grid-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #050505;
    overflow: hidden;
    border: 0.1px solid #111;
}

img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.save-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border: 1px solid rgba(255,255,255,0.1);
}

.fade-in { animation: fadeIn 0.8s ease-in-out; }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.hidden { display: none !important; }

/* Custom Scroll */
::-webkit-scrollbar { width: 0px; }
